
@media (min-width: 970px) {
.page 
{
    margin: auto;
    min-width: 970px;
    min-height: 720px;
    display:block;
}
.image_map 
{
    width: 970px;
    height: 720px;
    margin:auto;
    display:block;
    background:url(jbdwHome960p.png) no-repeat;
    z-index:0;
    position:relative;
}
.image_map_top
{
	position: absolute; 
	top: 0px; 
	left: 0px; 
	opacity:0; 
	*filter: Alpha(opacity=0);
	margin: 0 0 0 0;
	border:none;
}
.at_main
{
	display:block;
	position: absolute; 
	top: 60px; 
	left: 455px; 
    background:url(at.png) no-repeat;	
 	z-index:10;
	width: 60px;
	height: 60px;
}
.title_main {
    display: block;
    font-family: 'Lucida Sans Unicode';
    font-size: 46px;
    font-weight: bold;
    color: black;
    text-align: center;
    position: absolute;
    left: 320px;
    top: 160px;
    width: 350px;
}
.at_create
{
	display:block;
	position: absolute; 
	top: 230px; 
	left: 170px; 
    background:url(at.png) no-repeat;	
 	z-index:10;
	width: 60px;
	height: 60px;
}
.title_create {
    display: block;
    font-family: 'Lucida Sans Unicode';
    font-size: 42px;
    font-weight: bold;
    color: white;
    text-align: center;
    position: absolute;
    left: 20px;
    top: 335px;
    width: 350px;
}
.desc_create {
    display: block;
    font-family: 'Lucida Sans Unicode';
    font-size: 28px;
    color: white;
    text-align: center;
    position: absolute;
    left: 20px;
    top: 400px;
    width: 350px;
}
.at_develop
{
	display:block;
	position: absolute; 
	top: 400px; 
	left: 455px; 
    background:url(at.png) no-repeat;	
 	z-index:10;
	width: 60px;
	height: 60px;
}
.title_develop {
    display: block;
    font-family: 'Lucida Sans Unicode';
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    position: absolute;
    left: 305px;
    top: 500px;
    width: 360px;
}
.desc_develop {
    display: block;
    font-family: 'Lucida Sans Unicode';
    font-size: 28px;
    color: white;
    text-align: center;
    position: absolute;
    left: 310px;
    top: 565px;
    width: 350px;
}
.at_consult
{
	display:block;
	position: absolute; 
	top: 230px; 
	left: 740px; 
    background:url(at.png) no-repeat;	
 	z-index:10;
	width: 60px;
	height: 60px;
}
.title_consult {
    display: block;
    font-family: 'Lucida Sans Unicode';
    font-size: 42px;
    font-weight: bold;
    color: white;
    text-align: center;
    position: absolute;
    left: 600px;
    top: 335px;
    width: 350px;
}
.desc_consult {
    display: block;
    font-family: 'Lucida Sans Unicode';
    font-size: 28px;
    color: white;
    text-align: center;
    position: absolute;
    left: 625px;
    top: 400px;
    width: 300px;
}
.TMLogo
{
	display:block;
	position: absolute; 
	top: 20px; 
	left: 145px; 
    background:url(TMIcon.png) no-repeat;	
 	z-index:10;
	width: 108px;
	height: 108px;
}
.desc_TMLogo {
    display: block;
    font-family: 'Lucida Sans Unicode';
    font-size: 15px;
    color: grey;
    text-align: center;
    position: absolute;
    left: 120px;
    top: 130px;
    width: 160px;
}
}
@media (max-width: 969px) {
.page 
{
    margin: auto;
    min-width: 640px;
    min-height: 910px;
    display:block;
}
.image_map 
{
    width: 640px;
    height: 910px;
    margin:auto;
    display:block;
    background:url(jbdwHome640m.png) no-repeat;
    z-index:0;
    position:relative;
}
.image_map_top
{
	position: absolute; 
	top: 0; 
	left: 0; 
	opacity:0; 
	*filter: Alpha(opacity=0);
	margin: 0 0 0 0;
	border:none;
}
.title_main {
    display: block;
    font-family: 'Lucida Sans Unicode';
    font-size: 36px;
    font-weight: bold;
    color: black;
    text-align: center;
    position: absolute;
    left: 175px;
    top: 160px;
    width: 300px;
}
.title_create {
    display: block;
    font-family: 'Lucida Sans Unicode';
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: center;
    position: absolute;
    left: 10px;
    top: 430px;
    width: 300px;
}
.title_develop {
    display: block;
    font-family: 'Lucida Sans Unicode';
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: center;
    position: absolute;
    left: 170px;
    top: 700px;
    width: 300px;
}
.title_consult {
    display: block;
    font-family: 'Lucida Sans Unicode';
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: center;
    position: absolute;
    left: 330px;
    top: 430px;
    width: 300px;
}
}